/VS2022/Source/.vs/
/VS2022/Source/x64
/VS2022/Source/CPP/ExternProperty/CProject/x64
/VS2022/Source/CPP/ExternProperty/CppProject/x64
/VS2022/Source/CPP/ExternProperty/MainApp/x64
/VS2022/Source/CPP/StaticProperty/x64
/VS2022/Source/CPP/SwapTwoVariables/x64
/VS2022/Source/CPP/Threads/x64
/VS2022/Source/CPP/StateMachine/x64